* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    
    background-color: #ccc;
    color: rgb(48, 45, 45);
}
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 5;
}
.toast.toast--green .toast__icon {
    color: #21e91e;
    
}
.toast.toast--warning .toast__icon {
    color: #f5dd26;
    
}
.toast.toast--error .toast__icon {
    color: #f52d26;
}
.toast.toast--green {
    border-left: 5px solid #21e91e;
}
.toast.toast--warning{
    border-left: 5px solid #f5dd26;
}
.toast.toast--error {
    border-left: 5px solid #f52d26;
}
.toast {
    position: relative;
    max-width: 450px;
    min-width: 400px;
    margin: auto;
    height: 75px;
    background-color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    /* animation: slideInLeft 1s ease-in-out, hideTag 1s ease-in-out 3s forwards; */
}
.toast + .toast {
    margin-top: 10px;
}
/* @keyframes slideInRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
} */
.hide {
    animation: hideTag 0.5s ease-in-out;
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes hideTag {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
}

.toast__icon,
.close {
    padding: 0 16px;
}
.toast__icon {
    font-size: 38px;
}
.toast__body {
    line-height: 22px;
    flex-grow: 1;
}
.toast__title {
    font-size: 20px;
    font-weight: 800;
}
.toast__message {
    font-size: 16px;
}
.close {
    font-size: 20px;
    opacity: 0.8;
}
.close:hover {
    cursor: pointer;
    opacity: 1;
}
.toast__timeLine {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 5px;
   width: 100%;
   animation: timeLine 3s linear forwards;
}
.toast.toast--green .toast__timeLine {
  background-color: #21e91e;
}
.toast.toast--error .toast__timeLine {
  background-color: #f52d26;
}
.toast.toast--warning .toast__timeLine {
  background-color: #f5dd26;
}
@keyframes timeLine {
    100% {
        width: 0%;
    }
}
.btns {
    padding: 5px 10px;
    margin: 20%;
    display: flex;
    justify-content: space-evenly;
}
.btn {
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
}
.btn--success {
    color: #fff;
    background-color: #21e91e;
    opacity: 0.8;
}
.btn--error {
    color: #fff;
    background-color: #f52d26;
    opacity: 0.8;
}

.btn--success:hover, 
.btn--error:hover {
    cursor: pointer;
    opacity: 1;
}

